<br>


<div class="card container">
  <div class="card-header">
    <h1>Bienvenido {{user.name}}</h1>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Saldo en cuenta</p>
      <footer class="blockquote-footer"> $ 20000 <cite title="Source Title"></cite></footer>
    </blockquote>
  </div>
</div>
<br>

<div class="row">
<div class="col-md-2">
  <div class="card">
    <div class="card-header">
      <h2>Ingresos</h2>
    </div>
    <div class="card-body">
       <input type="text" name="title" class="form-control"  value="{{note.title}}">
        <br>
       <input type="text" name="title" class="form-control"  value="{{note.title}}">
       <br>
       <input type="text" name="title" class="form-control"  value="{{note.title}}">
       <br>
       <input type="text" name="title" class="form-control"  value="{{note.title}}">
    </div>
  </div>
</div>

<br>

<div class="col-md-2">
  <div class="card">
    <div class="card-header">
      <h2>Gastos</h2>
    </div>
    <div class="card-body">
       <input type="text" readonly=""name="title" class="form-control"  value="{{note.title}}">
        <br>
       <input type="text" name="title" class="form-control"  value="{{note.title}}">
       <br>
       <input type="text" name="title" class="form-control"  value="{{note.title}}">
       <br>
       <input type="text" name="title" class="form-control"  value="{{note.title}}">
    </div>
  </div>
</div>

  <br>
  <div class="col-md-5">
  <div class="card">
      <div class="card-header">
      <h2>Resumen</h2>
    </div>
    <div class="card-body">
      <img src="/img/pastel.jpg" alt="" width="210">
    </div>
  </div>
  </div>

<div class="ml-auto">
<form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
    <button class="btn btn-outline-success my-1 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
  </form>
  </div>
</div>
</div>


